html, body {
    height: 100%;  
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;  
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;  
    width: 100%;
}

header {
    padding: 20px;
}

header .nav-link:hover {
    border: 2px solid rgba(255, 255, 255, 0.7); 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 0.375rem 0.75rem; 
}
