<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{})}">

<head>
<meta charset="UTF-8">
<title data-th-text="#{index.title}"></title>
<link rel="stylesheet" th:href="@{/css/layout.css}" />

</head>


<body>
	<main id="contenuPage">
		<!-- AJOUTER LE LISTING DES USERS -->
		<div class="header-container">
    		<h1 data-th-text="#{view-user-form.h1}" ></h1>
    			<div class="date-card">
        			<p id="current-date"></p>
    			</div>
			</div>
		<form data-th-replace="~{fragments/fragment-user-form :: frag-user-form(action = '/users/creer',text_button = #{view-user-form.btn}, disabled = false, visible = true)}">
			
		</form>
		<p data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"></p>
		<script>
	console.log("Le script JS est chargé !");
	function updateDate() {
        const dateElement = document.getElementById("current-date");
        const now = new Date();
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

        // Vérification des données générées
        const formattedDate = now.toLocaleDateString('fr-FR', options);
        console.log("Date générée :", formattedDate);

        dateElement.textContent = formattedDate;
    }

    // Mettre à jour la date au chargement de la page
    updateDate();

    // Optionnel : Actualiser chaque minute (si nécessaire)
    setInterval(updateDate, 60000);
</script>
	</main>
	
</body>
</html>