<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{})}">

<head>

<title data-th-text="#{index.title}"></title>
</head>


<body>
	<main id="contenuPage">
		<!-- AJOUTER LE LISTING DES USERS -->
		<div class="card mx-auto" style="max-width:800px;">
			<div class="card-header">
				<h1 data-th-text="#{view-modfier-password.h1}"></h1>
			</div>
			<div class="card-body">
				<div th:if="${message}">
				    <div class="alert alert-success" th:text="${message}"></div>
				</div>
					
				<div th:if="${error}">
					<div class="alert alert-danger" th:text="${error}"></div>
				</div>
				<div th:if="${errorMessages != null}">
				    <ul class="alert alert-danger" style="padding-left: 40px;">
				        <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
				    </ul>
				</div>
				<form data-th-replace="~{fragments/fragment-password-form :: frag-password-form(action = '/users/modifiermdp?pseudo=' + ${pseudo})}">
					
				</form>
				<p data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"></p>
						
			</div>		
		
		</div>
		
	</main>
</body>
</html>