<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{::#ressourcesSupp})}">

<head>

<title data-th-text="#{index.title}"></title>
<th:block id="ressourcesSupp">
<!-- Inclure les fichiers CSS et JS pour Toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</th:block>
</head>


<body>
	<main id="contenuPage">
		<!-- AJOUTER LE LISTING DES USERS -->
		<h1 data-th-text="#{view-modfier-password.h1}"></h1>
		<div th:if="${message}">
		    <div class="alert alert-success" th:text="${message}"></div>
		</div>
			
		<div th:if="${error}">
			<div class="alert alert-danger" th:text="${error}"></div>
		</div>
		<div th:if="${errorMessages != null}">
		    <ul class="alert alert-danger">
		        <li th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></li>
		    </ul>
		</div>
		<form data-th-replace="~{fragments/fragment-password-form :: frag-password-form(action = '/users/modifiermdp?pseudo=' + ${pseudo})}">
			
		</form>
		<p data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}"></p>
		
		 <script th:inline="javascript">
	        /*<![CDATA[*/
	        var successMessage = /*[[${message}]]*/ "";
	        if (successMessage) {
	            toastr.success(successMessage);
	        }
	
	        var errorMessages = /*[[${errorMessages}]]*/ '[]';
	        if (errorMessages) {
	            errorMessages.forEach(function(msg) {
	                toastr.error(msg);
	            });
	        }
	        /*]]>*/
    	</script>
	</main>
</body>
</html>