<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-password-form" data-th-action="@{${action}}" method="post">
	<!-- Champ Mot de passe actuel -->
		
			<fieldset class="mb-3">
				<div class="form-group">
					<label for="currentPassword">Mot de passe actuel</label>
					<input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
				</div>
	
				<!-- Champ Nouveau mot de passe -->
				<div class="form-group">
					<label for="newPassword">Nouveau mot de passe</label>
					<input type="password" class="form-control" id="newPassword" name="newPassword" required>
				</div>
	
				<!-- Champ Confirmation du nouveau mot de passe -->
				<div class="form-group">
					<label for="confirmPassword">Confirmer le nouveau mot de passe</label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
				</div>

			</fieldset>
			<!-- Bouton Soumettre -->
			<div>
				<button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
			</div>
</form>