<div xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="fragment-card">
	<div th:if="${session.userSession != null && session.userSession.pseudo != null && session.userSession.pseudo != ''}">
	<div class="date-card">
			<p>
				<strong th:text="#{label.participant}"></strong><span th:text="${session.userSession.pseudo}"></span>
			</p>
			<p>
				<strong th:text="#{label.numberOfCredits}"></strong><span
					th:text="${session.userSession.credit}"></span>
			</p>
			<p id="current-date"></p>
		</div>
	</div>
</div>
