<form xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-password-form" data-th-action="@{${action}}" method="post">
	<!-- Champ Mot de passe actuel -->
		
			<fieldset class="mb-3">
				<div class="form-group">
					<label for="currentPassword" data-th-text="#{fragment-password-form.actuel}"></label>
					<input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
				</div>
	
				<!-- Champ Nouveau mot de passe -->
				<div class="form-group">
					<label for="newPassword" data-th-text="#{fragment-password-form.nouveau}"></label>
					<input type="password" class="form-control" id="newPassword" name="newPassword" required>
				</div>
	
				<!-- Champ Confirmation du nouveau mot de passe -->
				<div class="form-group">
					<label for="confirmPassword" data-th-text="#{fragment-password-form.nouveau.confirm}"></label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
				</div>

			</fieldset>
			<!-- Bouton Soumettre -->
			<div>
				<button type="submit" class="btn btn-primary" data-th-text="#{view-user-form-modifier.pwd}"></button>
			</div>
</form>