<form xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-user-form(action)" data-th-action="${action}"
	method="post" data-th-object="${user}">

	<div class="container mt-5">
		<div class="card mx-auto" style="max-width: 800px;">
			<div class="card-body">
			<p data-th-each="err : ${#fields.errors('global')}" data-th-text="#{${err}}" class="cards"></p>
				<fieldset data-th-disabled="${disabled}">
					<input type="hidden" data-th-field="*{id}">
					<div class="row mb-3">
						<!-- Première colonne -->
						<div class="col-md-6">
							<div>
								<label class="form-label"
									data-th-text="#{view-user-form.pseudo}"></label> <input
									type="text" class="form-control" data-th-field="*{pseudo}"
									th:disabled="${!creation}" required />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></div>
							</div>
							<div>
								<label class="form-label"
									data-th-text="#{view-user-form.prenom}"></label> <input
									type="text" class="form-control" data-th-field="*{prenom}"
									required />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div>
							</div>
							<div>
								<label class="form-label"
									data-th-text="#{view-user-form.telephone}"></label> <input
									type="tel" class="form-control" data-th-field="*{telephone}" />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div>
							</div>
						</div>

						<!-- Deuxième colonne -->
						<div class="col-md-6">
							<div>
								<label class="form-label" data-th-text="#{view-user-form.nom}"></label>
								<input type="text" class="form-control" data-th-field="*{nom}"
									required />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
							</div>
							<div>
								<label class="form-label" data-th-text="#{view-user-form.email}"></label>
								<input type="email" class="form-control"
									data-th-field="*{email}" required />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div>
							</div>
							<div>
								<label class="form-label"
									data-th-text="#{view-user-form.credit}"></label> <input
									type="text" class="form-control" data-th-field="*{credit}"
									required disabled />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('credit')}"></div>
							</div>

						</div>
					</div>

					<div class="row" data-th-if="${visible}">
						<!-- Section Adresse -->
						<div class="row mt-4">
							<div class="col-md-12">
								<!-- Label global Adresse -->
								<h4 data-th-text="#{view-user-form.adresse}"></h4>
							</div>
						</div>
						<!-- Champs rue, ville et code postal alignés horizontalement -->
						<div class="col-md-4">
							<input type="text" class="form-control"
								data-th-field="*{adresse.rue}" required placeholder="Rue" />
							<div
								data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.rue')}"></div>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control"
								data-th-field="*{adresse.code_postal}" required
								placeholder="Code Postal" />
							<div
								data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.code_postal')}"></div>
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control"
								data-th-field="*{adresse.ville}" required placeholder="Ville" />
							<div
								data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.ville')}"></div>
						</div>
					</div>

					<!-- Section des mots de passe avec confirmation -->
					<div class="row mt-4" data-th-if="${creation}">
						<!-- Champ mot de passe -->
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label" data-th-text="#{view-user-form.pwd}"></label>
								<input type="password" id="password" class="form-control"
									data-th-field="*{password}" required />
								<div
									data-th-replace="~{fragments/errors/fragment-error :: frag-error('password')}"></div>
							</div>
						</div>

						<!-- Champ confirmation mot de passe -->
						<div class="col-md-6">
							<div class="mb-3">
								<label class="form-label"
									data-th-text="#{view-user-form-confirmer.pwd}"></label> <input
									type="password" id="confirmPassword" class="form-control"
									required />
								<!-- Message d'erreur si les mots de passe ne correspondent pas -->
								<small id="passwordError" class="form-text text-danger"
									style="display: none;"
									data-th-text="#{validation.utilisateur.password.erreur.corresp}"></small>
								<!-- Message de confirmation si les mots de passe correspondent -->
								<small id="passwordMatch" class="form-text text-success"
									style="display: none;"
									data-th-text="#{validation.utilisateur.password.corresp}"></small>
							</div>
						</div>
					</div>
				</fieldset>
				<!-- Bouton submit -->
				<div class="row mt-4"
					data-th-class="${visible} ? 'row mt-4' : 'row mt-2'">
					<div class="d-flex gap-3 justify-content-between w-100">
						<!-- Bouton Créer/Modifier -->
						<div class="flex-fill" data-th-if="${visible}">
							<button type="submit" class="btn btn-primary w-100"
								data-th-text="${text_button}"></button>
						</div>

						<!-- Bouton Modifier mot de passe -->
						<div class="flex-fill" data-th-if="${!creation && visible}">
							<a data-th-href="@{/users/modifiermdp(pseudo=*{pseudo})}"
								class="btn btn-secondary w-100"
								data-th-text="#{view-user-form-modifier.pwd}"> </a>
						</div>

						<!-- Bouton Annuler/Retour -->
						<div class="flex-fill">
							<a href="/" class="btn btn-danger w-100"
								data-th-text="${visible} ? #{view-user-form-annuler.btn} : Retour">
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script>
		document.addEventListener('DOMContentLoaded', function () {
		    function validatePasswords() {
		        var password = document.getElementById("password").value;
		        var confirmPassword = document.getElementById("confirmPassword");
		        var passwordError = document.getElementById("passwordError");

		        // Vérification de la correspondance des mots de passe
		        if (password === confirmPassword.value) {
		            passwordError.style.display = "none"; // Cache le message d'erreur
		            confirmPassword.style.borderColor = "green"; // Bordure verte si les mots de passe correspondent
		        } else {
		            passwordError.style.display = "block"; // Affiche le message d'erreur
		            confirmPassword.style.borderColor = "red"; // Bordure rouge si les mots de passe ne correspondent pas
		            confirmPassword.style.border = "3px solid red"; // Bordure rouge
		        }
		    }

		    // Vérifie la correspondance des mots de passe lors de la saisie
		    document.getElementById("confirmPassword").addEventListener("input", function () {
		        validatePasswords(); // Vérifie à chaque modification du champ de confirmation
		    });

		    // Optionnel : réinitialise la bordure si le champ de mot de passe est modifié
		    document.getElementById("password").addEventListener("input", function () {
		        // Réinitialise la bordure et le message d'erreur
		        document.getElementById("confirmPassword").style.borderColor = ""; 
		        document.getElementById("passwordError").style.display = "none"; 
		    });
		});

</script>
	</div>
</form>


