<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-encheres-actives">
    <h1 th:text="#{label.biddingsList}"></h1>

	<!-- Formulaire des filtres -->
	<form action="/" method="get" id="filterForm">
		<h4 th:text="#{label.filters}"></h4>
		<div class="row m-3">
			<div class="col-4">
				<!-- Filtre par nom -->
				<label for="nom" class="form-label visually-hidden"></label> <input
					type="text" id="nom" name="nom"
					placeholder="Le nom de l'article contient..."
					th:value="${nom}" class="form-control" />
					<!-- Filtre par catégorie -->
				<div class="form-group row mt-3">
					<label for="categorie" class="col-sm-3 col-form-label" th:text="#{label.category}"></label>
					<div class="col-sm-9">
						<select id="categorie" name="categorie" class="form-select">
							<option value="" th:selected="${categorieId == null}" data-th-text="#{label.all}"></option>
							<th:block th:each="categorie : ${categories}">
								<option th:value="${categorie.id}"
									th:text="${categorie.libelle}"></option>
							</th:block>
						</select>
					</div>
				</div>
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-primary w-100 mb-3" th:text="#{label.search}"></button>
				<button type="button" class="btn btn-secondary w-100"
					onclick="resetForm()" th:text="#{label.cancel}"></button>
			</div>
		</div>
		<div th:if="${pseudoUserConnected != null}">
			<div class="row m-3">
				<div class="col-3 mb-3">
					<input class="col-3 mb-3" type="radio" id="hasEncheri" name="userType" value="hasEncheri" th:checked="${userType == 'hasEncheri'}" /> 
					<label for="hasEncheri" class="form-label">Achats</label>
					<select id="hasEncheriSelect" name="statutEnchereAchat" class="form-select" disabled>
						<option th:value="1" th:selected="${statutEnchereAchat == 1}">Enchères ouvertes</option>
						<option th:value="2" th:selected="${statutEnchereAchat == 2}">Mes enchères en cours</option>
						<option th:value="3" th:selected="${statutEnchereAchat == 3}">Mes enchères remportées</option>
					</select>
				</div>
				<div class="col-3 mb-3">
					<input class="col-3 mb-3" type="radio" id="isVendeur" name="userType"  value="isVendeur" th:checked="${userType == 'isVendeur'}"/> 
					<label for="isVendeur" class="form-label">Ventes</label>
					<select id="isVendeurSelect" name="statutEnchereVente" class="form-select" disabled>
						<option th:value="1" th:selected="${statutEnchereVente == 1}">Mes ventes en cours</option>
						<option th:value="2" th:selected="${statutEnchereVente == 2}">Mes ventes non débutées</option>
						<option th:value="3" th:selected="${statutEnchereVente == 3}">Mes ventes terminées</option>
					</select>
				</div>
			</div>
		</div>
	</form>
	<div th:if="${articles.isEmpty()}">
		<p th:text="#{label.noArticleFound}"></p>
	</div>
	<div>
		<div class="row">
			<div class="col-12 col-md-6 col-xl-4 mb-4"
				data-th-each="article : ${articles}">
				<div class="card bg-dark text-white h-100 shadow-sm" style="cursor: pointer;" 
                 th:onclick="|window.location.href='/articles/details/' + ${article.id}|">
					<div class="card-body d-flex align-items-center">
						<div class="image-container me-3"
							data-th-if="${article.path_image != null && article.path_image != ''}">
							<!-- Ajout d'une marge à droite -->
							<img alt="Image article" class="img-fluid img-article bg-dark"
								data-th-src="@{'/uploads/' + ${article.path_image}}">
						</div>
						<div class="flex-grow-1">
							<div>
								<h5 class="card-title" data-th-text="${article.nom}"></h5>
								<p class="mb-1">
                  <span th:text="#{label.price}"></span>
									<span
										data-th-text="${article.prix_vente > article.prix_initial ? article.prix_vente : article.prix_initial}"></span>
									 <span th:text="#{label.point}"></span>
								</p>
								<p class="mb-1">
                  <span th:text="#{label.auctionEndDate}"></span>
									<span
										data-th-text="${#temporals.format(article.date_fin,'dd/MM/yyyy')}"></span>
								</p>
								<p class="mb-0">
                  <span th:text="#{label.seller}"></span>
                  <a
										data-th-href="${'/users/profil?pseudo=' + article.proprietaire.pseudo}">
										<span data-th-text="${article.proprietaire.pseudo}"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
