<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{::#ressourcesSupp})}">
<head >
    <title>Connexion</title>
    <th:block id="ressourcesSupp">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</th:block>
</head>
<body>
    <main id="contenuPage">
       <div id="login-container">
            <form th:replace="~{fragments/fragment-login-form :: frag-login-form(action = '/login')}">
            </form>
        </div>
    </main>
</body>
</html>