<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{})}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}"></title> <!-- Utilisation de th:text pour la clé de message -->
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>

<body>
    <main id="contenuPage">
        <div class="header-container">
            <h1 th:text="${titre}"></h1> <!-- Affichage du nom de l'article -->
            
        </div>

        <!-- Inclusion du fragment pour afficher les détails de l'article -->
        <div th:replace="~{fragments/fragment-details-article :: frag-details-article(article = ${article})}"></div>
    </main>
</body>
</html>
