<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{/layouts/layout :: layout-projet(titrePage = ~{ :: title}, contenuPage = ~{::#contenuPage}, ressourcesSupp = ~{})}">

<head>
<meta charset="UTF-8">
<title data-th-text="#{index.title}"></title>
<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>

<body>
	<main id="contenuPage">
		<div class="header-container">
			<!-- Titre de la page -->
			<h1 th:text="#{title.modifyArticle}"></h1>
		</div>
		<div>
			<!-- Titre de l'article -->
			<h1 th:text="${article.nom}"></h1>
		</div>
		<div th:if="${errorMessages != null}">
			<ul class="alert alert-danger" style="padding-left: 40px;">
				<li th:each="errorMessage : ${errorMessages}"
					th:text="${errorMessage}"></li>
			</ul>
		</div>
		<!-- Fragment du formulaire -->
		<div
			th:insert="~{fragments/fragment-article-form :: frag-article-form(action=${article == null ? '/articles/creer' : '/articles/editer/' + article.id})}"></div>
	</main>
</body>
</html>
